.nav:hover .nav_menu {
    opacity: 0.4;
}

.nav_menu {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    margin: 15px 15px 15px 15px;
    background: rgba(0, 0, 0, 0);
    display: inline-block;
    color: white;
    text-decoration: none;
    -webkit-transition: 0.15s;
    transition: 0.15s;
}

.nav:hover .nav_menu:hover {
    opacity: 1;
}

.nav_logo:hover {
    -webkit-filter: brightness(1.25);
    filter: brightness(1.25);
}

.dark_background {
    z-index: -1;
    background: rgb(0, 0, 0);
}

.push_down {
    margin-top: 2.5em;
}

.main_content {
    min-height: 100vh;
    color: white !important;
}

.header {
    font-size: 5em;
    margin-bottom: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.subheader {
    font-size: 2em;
    font-style: italic;
    margin-top: 4.5em;
    margin-bottom: -2em;
}

.title {
    font-size: 3em;
}

.subtitle {
    font-size: 1.65em;
}

.description {
    font-size: 1.1em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    .nav_logo {
        color: white;
        text-align: center;
        text-decoration: none;
        float: left;
        margin-left: 3em;
        margin-top: 1em;
        width: 2.3em;
        height: 2.3em;
        -webkit-transition: 0.15s;
        transition: filter 0.15s;
    }
    .nav {
        display: none;
    }
    .mobile_nav:hover .nav_menu:hover {
        opacity: 1;
    }
    .mobile_nav:hover .nav_menu {
        opacity: 0.4;
    }
    .mobile_nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0;
        overflow: hidden;
        padding: 1em;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
    .p-grid-centered {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: auto;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
    .center_content {
        margin: auto;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
    .center_blog_content {
        margin: auto;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
    .p-col-4-auto {
        width: 100%;
    }
    .p-col-3-auto {
        width: 100%;
    }
    .p-col-9-auto {
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .nav_logo {
        color: white;
        text-align: center;
        text-decoration: none;
        margin-left: 3em;
        margin-top: 1em;
        float: left;
        width: 2.3em;
        height: 2.3em;
        -webkit-transition: 0.15s;
        transition: filter 0.15s;
    }
    .nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-right: 3em;
        margin-top: 1em;
        padding: 0;
        float: right;
        overflow: hidden;
        -webkit-transition: 0.5s;
        transition: opacity 0.5s;
    }
    .mobile_nav_button {
        display: none;
    }
    .p-grid-centered {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: auto;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
    .center_content {
        margin: auto;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
    .center_blog_content {
        margin: auto;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
    .p-col-4-auto {
        width: 50%;
    }
    .p-col-3-auto {
        width: 100%;
    }
    .p-col-9-auto {
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .center_blog_content {
        width: 992px;
        margin: auto;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .p-col-3-auto {
        width: 25%;
    }
    .p-col-9-auto {
        width: 75%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1470px) {
    .nav_logo {
        color: white;
        text-align: center;
        text-decoration: none;
        float: left;
        margin-top: 1em;
        padding: 0;
        width: 2.3em;
        height: 2.3em;
        -webkit-transition: 0.15s;
        transition: filter 0.15s;
    }
    .nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-top: 1em;
        padding: 0;
        float: right;
        overflow: hidden;
        -webkit-transition: 0.5s;
        transition: opacity 0.5s;
    }
    .p-grid-centered {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 1366px;
        margin: auto;
    }
    .center_content {
        width: 1366px;
        margin: auto;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
    .p-col-4-auto {
        width: 33.333%;
    }
    .p-col-3-auto {
        width: 25%;
    }
    .p-col-9-auto {
        width: 75%;
    }
}
