.spacing {
	padding: 2em;
}

.spacing-half {
	padding: 10px;
}

.typist {
	font-size: 2em;
}

.p-col-3-5 {
	width: 32%; 
}

.readmore {
	text-decoration: underline;
}

.remove_space {
	margin:0;
  	padding:0;
}

.spacing-quarter {
	padding: 5px;
}
  